body {
    font-family: "Adobe Arabic" , serif;
    max-width: 600px;
    padding: 0px 30px;
}

fieldset {
    margin-bottom: 15px;
    padding: 10px;
}

legend {
    padding: 0px 3px;
    font-weight: bold;
    font-variant: small-caps;
}

label {
    width: 110px;
    display: inline-block;
    vertical-align: top;
    margin: 5px;
}

em {
    font-weight: bold;
    font-style: normal;
    color: #f00;
}

input:focus {
    background: #eaeaea;
}

input, textarea {
    width: 250px;
}

textarea {
    height: 100px;
}

select {
    width: 256px;
}

input[type=checkbox] {
    width: 10px;
}
#bottom{
    width: 150px;
    height: 50px;

}